@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* هنا نتحكم في ألوان الموقع بالكامل */
  --primary-color: #E8E1D1; /* الأزرق الرئيسي */
  --primary-hover: #ccbe9d;
  --bg-color: #f8fafc;
}

body {
  background-color: var(--bg-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}